@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  background: rgba(250, 228, 202, 0.664);
}
.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.progress__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 400px;
  margin: 3rem auto;
  position: relative;
}
.progress__container::before {
  content: "";
  background-color: gainsboro;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}
.progress {
  background-color: rgb(60, 172, 38);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: honeydew;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid gray;
  transition: 0.4s ease;
}
.circle.active {
  border-color: rgb(60, 172, 38);
}
.btn {
  border: 2px solid black;
  padding: 0.5em 2em;
  margin: 1rem;
  color: black;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:active {
  transform: scale(0.95);
}

.btn--primary {
  border-color: rgb(60, 172, 38);
  background-color: rgb(60, 172, 38);
  color: aliceblue;
  outline: none;
}
.btn--outline {
  border-color: rgb(60, 172, 38);
  outline: none;
}
.btn--outline:hover {
  background-color: rgb(60, 172, 38);
  color: aliceblue;
}
.btn--outline:disabled {
  background-color: gainsboro;
  color: grey;
  cursor: not-allowed;
  border-color: gray;
}
.form__container {
  height: 300px;
  width: 70%;
  margin: 0 auto;
  outline: 1px solid steelblue;
}
.form__segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  .form__container {
    width: 100%;
  }
}
